*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  margin: 0;
  padding: 0;
}

.wrap{
  max-width: 1024px;
  margin: 0 auto;
}

.subtitle{
  font-size: 36px;
  text-transform: uppercase;
  margin: 15px 0;
}